.header{
	background-color: #fff059;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	height: 54px;
	z-index: 999;
}

.logo { 
	background-image:url(https://http2.mlstatic.com/ui/navigation/2.3.4/mercadolibre/logo-pt__large.png);
	width: 65px;
	top:6px;
	height:40px;
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	text-indent: -999px;
}

.search {
	padding: 5px 560px 5px 15px;
	margin: 10px 0px 0px 0px;
	border: none;
}

.body{
	margin-top:50px;
	background-color: #f5f5f5;
    width: 100%;
    position: absolute;
}

.btn_search{
	width: 46px;
    height: 30px;
    position: absolute;
    top: 10px;
    border-radius: 0px 3px 3px 0px;
    border: 0px;
    background-image: linear-gradient(#fff,#f1f1f1);
}

.item{
	margin:10px 0px;
}

.background-list{
	background-color: #fff;
	width: 75%;
    margin-top: 10px;
    max-width: 884px;
}


.background-show-product{
	background-color: #fff;
	width: 85%;
    margin-top: 10px;
    max-width: 100%;
}

.background-list ul {
	list-style: none;
}

.item .sale-title-description{
	color: #333;
	font-size: 20px;
	line-height: 1.2;
	min-height: inherit;
}

.item a:visited {
	color: #809;
}

.thumb{
	height: 100%
	border-radius 4px;
}

.priceItem{
	font-size: 24px;
}

.stage{
	height: 100%;
}

.btnSale{

    padding: 12px 62px 24px 62px !important;
    border: none !important;

}

.description img{
	width: 85%;
}

.thumbProduct{
	margin: 10px 25px;
}

.item .description {
	padding: 1px;
}